<div class="table__row">
    <div>
        <input class="horis__horse" type="text" autocomplete="off" />
    </div>
    <div>
        <input class="horis__age" type="text" disabled autocomplete="off" />
    </div>
    <div>
        <input class="horis__weight" type="number" min="40" max="200" step="1" autocomplete="off" />
    </div>
    <div>
        <input class="horis__driver" type="text" autocomplete="off" />
    </div>
    <div>
        <input class="horis__start" type="number" min="1" max="20" step="1" autocomplete="off" />
    </div>
    <div>
        <input type="checkbox" class="horis__won-last">
    </div>
    <div>
        <input type="checkbox" class="horis__won-last-three">
    </div>
    <div>
        <a href="javascript:void(0)" class="horis__delete">
            <i class="fa fa-lg fa-trash"></i>
        </a>
    </div>
</div>
