<div class="table__row">
    <div>
        {# Horse name, autocompleted #}
        <input class="horis__horse" type="text" autocomplete="off" />
    </div>
    <div>
        {# Horse age #}
        <input class="horis__age" type="text" disabled autocomplete="off" />
    </div>
    <div>
        {# Horse weight #}
        <input class="horis__weight" type="number" min="40" max="200" step="1" autocomplete="off" />
    </div>
    <div>
        {# Horse driver name #}
        <input class="horis__driver" type="text" autocomplete="off" />
    </div>
    <div>
        {# Horse starting position #}
        <input class="horis__start" type="number" min="1" max="20" step="1" autocomplete="off" />
    </div>
    <div>
        {# Horse first place checkbox #}
        <input type="checkbox" class="horis__won-last">
    </div>
    <div>
        {# Horse first three places checkbox #}
        <input type="checkbox" class="horis__won-last-three">
    </div>
    <div>
        {# Horse deletion button #}
        <a href="javascript:void(0)" class="horis__delete">
            <i class="fa fa-lg fa-trash"></i>
        </a>
    </div>
</div>
