.footer {
  height: $footer-height;
  background-color: $footer-background;
  color: $footer-text;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
