$background: white;
$text: black;

$primary: #d32f2f;
$primary-light: #ff6659;
$primary-dark: #9a0007;
$primary-text: white;

$secondary: #7b1fa2;
$secondary-light: #ae52d4;
$secondary-dark: #4a0072;
$secondary-text: white;

$header-background: $primary;
$header-text: $primary-text;
$header-height: 3.5rem;

$footer-background: $secondary;
$footer-text: $secondary-text;
$footer-height: 2rem;

$table-row-height: 2rem;
